:root {
  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  color: hsl(0%, 11%, 12%);
}

section {
  background-color: hsl(185, 75%, 39%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: -2;
  padding: 0 24px;
}

.card {
  background-color: white;
  max-width: 100%;
  width: 350px;
  border-radius: 10px;
  /* overflow: hidden; */
  box-shadow: 0 0 10px 10px hsla(229, 23%, 23%, 10%);
}

.card-header {
  background-image: url(../images/bg-pattern-card.svg);
  height: 150px;
  border-radius: 10px 10px 0 0;
  background-size: cover;
}

.img-holder img {
  border: 5px solid white;
  border-radius: 50%;
  margin-top: -75px;
}

.name {
  font-size: 18px;
  font-weight: 700;
  color: hsl(229, 23%, 23%);
  padding-top: 24px;
}

.age,
.city {
  color: hsl(227, 10%, 46%);
  font-weight: 500;
}

.city {
  font-size: 16px;
  padding-top: 16px;
}

.card-body {
  text-align: center;
  color: hsl(0%, 11%, 12%);
  padding: 24px;
}

.card-footer {
  display: flex;
  border-top: 1px solid hsla(0, 0%, 59%, 25%);
  padding: 28px;
  justify-content: space-around;
}

.items {
  text-align: center;
  justify-content: center;
  align-content: center;
  /* width: 33.33%; */
  /* padding: 0 28px; */
}

.value {
  font-weight: 700;
  font-size: 18px;
  color: hsl(229, 23%, 23%);
}

.meta {
  font-weight: 500;
  color: hsla(227, 10%, 46%, 75%);
  font-size: 0.7rem;
  line-height: 1.25rem;
  letter-spacing: 1px;
  /* text-align: center; */
}

.img-top {
  position: absolute;
  right: 50%;
  top: -60%;
  z-index: -1;
  opacity: 75%;
}
.img-bottom {
  position: absolute;
  left: 50%;
  bottom: -60%;
  z-index: -1;
  opacity: 75%;
}

.container {
  overflow: hidden;
}
